<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type=text/css href="../static/styleHistoricos.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Historial</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

    <div class="inicio-logo">
        <img src="../static/logofondoblanco.png" width="200" height="200"/>
        
        <div class="fechas">
            <label for="fecha-inicio">Fecha de inicio:</label>
            <input type="date" id="fecha-inicio" name="fecha-inicio">
            <label for="hora-inicio">  Hora de inicio:    </label>
            <input type="time" id="hora-inicio" name="hora-inicio">
    
        
            
        </div>
        <br/>
        <div class="fechas">
            <label for="fecha-fin">  Fecha de fin prueba:</label>
            <input type="date" id="fecha-fin" name="fecha-fin">
            
            <label for="hora-fin">  Hora de fin:</label>
            <input type="time" id="hora-fin" name="hora-fin">
        </div>
        <br>

    </div>
    

    <div class="sidebar">
        <a  href="../">Tiempo Real</a>
        <a class="active"href="../historicos">Historial</a>
    </div> 
   
   

    <div class="botones-container">
        <button id="buscar-button">Buscar Ruta</button>
    </div>
    <br>
    <div class="err-cont" id="mensaje-error" style="color: rgb(216, 0, 0); display: none;text-align: center;">
    </div> 
    <br>
    <!-- Agrega un elemento HTML para mostrar un mensaje cuando no se encuentren fechas -->
    <div class="fechaContainer">
        <h3>Fechas en las que pasó por el punto seleccionado:</h3>
        <ul id="fechas-list"></ul>
    </div>
    <br>
    <div id="mensaje-sin-fechas" style="display: none;">
        <p> No se encontraron fechas asociadas al punto seleccionado.</p>
    </div>
   
    <div id="map" ></div>
    
<script src="../static/scriptHistoricos.js"></script>

   
</body>
</html>