<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type=text/css href="../static/styleHistoricos.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Historial</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>


    

    <div class="sidebar">
        <img src="../static/logofondoblanco.png" width="200" height="200"/>
        <a  href="../tiempo-real">Tiempo Real</a>
        <a class="active"href="../historicos">Historial</a>
    </div>
    <br> 
    <dialog id="mi-dialogo" open>
        <h2>Bienvenido!</h2>
        <p>Para hacer una consulta de historicos debe ingresar 
            el rango de fechas en el cual desea conocer la información.</p>
        <p>Si desea conocer las fechas en las que su vehiculo pasó por un lugar determinado,
            puede saberlo dandole click en el mapa.
        </p>
        <button id="cerrar-dialogo">Cerrar</button>
    </dialog>

   
    <div class="inicio-logo">
        
        
        <div class="fechas">
            <label for="fecha-inicio">Fecha de inicio:</label>
            <input type="date" id="fecha-inicio" name="fecha-inicio" value="2023-10-15">
            <label for="hora-inicio">  Hora de inicio:    </label>
            <input type="time" id="hora-inicio" name="hora-inicio" value="01:00">
    
        
            

            <label for="fecha-fin">  Fecha de fin:</label>
            <input type="date" id="fecha-fin" name="fecha-fin" value="2023-10-15">
            
            <label for="hora-fin">  Hora de fin:</label>
            <input type="time" id="hora-fin" name="hora-fin" value="17:00">

            <button id="abrirAyuda">?</button>
        </div>
        

    </div>
   
    <br>
    <div class="botones-container">
        <button id="buscar-button">Buscar Ruta</button>
    </div>
    <br>
    <div class="err-cont" id="mensaje-error" style="color: rgb(216, 0, 0); display: none;text-align: center;">
    </div> 


    <div class="slidecontainer">
        <input type="range" min="50" max="200" value="0" class="slider" id="myRange2">
        <p id="rangeMeasurement"> Elija el radio de busqueda </p>
    </div>


    <div class="slidecontainer">
        <input type="range" min="" max="100" value="0" class="slider" id="myRange">
        <p id="valor-seleccionado">Desplace la barra para poder observar las fechas</p>
    </div>

    
    <!-- Agrega un elemento HTML para mostrar un mensaje cuando no se encuentren fechas -->
    <br>
    <div id="mensaje-sin-fechas" style="color: rgb(216, 0, 0); display: none;text-align: center;">
        <p> No se encontraron fechas asociadas al punto seleccionado.</p>
    </div>
    <br>

    <div id="map" ></div>
  
    

   
    
    

    
    
<script src="../static/scriptHistoricos.js"></script>

   
</body>
</html>